[flake8]

exclude = 
    .git,
    .gitignore,
    *.pot,
    *.py[co],
    __pycache__,
    venv,
    .env
    settings.py
    test.py
    __init__.py,
    
max-line-length = 90

ignore =
    E501, E722