{% extends 'base.html' %}
{% block title %}
	password reset
{% endblock %}

{% block content %}
	 <!-- Form -->
    <div class="container content-space-3 content-space-t-lg-4 content-space-b-lg-3">
      <div class="flex-grow-1 mx-auto" style="max-width: 28rem;">
        <!-- Heading -->
        <div class="text-center mb-5 mb-md-7">
          <h1 class="h2">رمز با موفقیت عوض شد</h1>
          <p>امید واریم که دوباره رمز عبور خود را فراموش نکنید.</p>
        </div>
        <!-- End Heading -->

      </div>
    </div>
    <!-- End Form -->
{% endblock %}