{% extends 'base.html' %}
{% block title %}
    password reset confrim

{% endblock %}

{% block content %}
    <!-- Form -->
    <div class="container content-space-3 content-space-t-lg-4 content-space-b-lg-3">
        <div class="flex-grow-1 mx-auto" style="max-width: 28rem;">
            <!-- Heading -->
            <div class="text-center mb-5 mb-md-7">
                <h1 class="h2">لطفا رمز جدید را وارد کنید</h1>
                <p>توجه داشته باید که باید با دقت بالا رمز خود را وارد کنید تا دوباره ان را فراموش نکنید</p>
            </div>
            <!-- End Heading -->
            <form action="" method="post">
                {% csrf_token %}
                <div class="mb-3">
                    <label class="form-label" for="signupSimpleSignupPassword">رمز عبور</label>

                    <div class="input-group input-group-merge" data-hs-validation-validate-class>
                        <input type="password" class="js-toggle-password form-control form-control-lg text-center"
                               name="new_password1"
                               id="signupSimpleSignupPassword" placeholder="8+ characters required"
                               aria-label="8+ characters required"
                               required data-hs-toggle-password-options='{
                         "target": [".js-toggle-password-target-1", ".js-toggle-password-target-2"],
                         "defaultClass": "bi-eye-slash",
                         "showClass": "bi-eye",
                         "classChangeTarget": ".js-toggle-passowrd-show-icon-1"
                       }'>
                        <a class="js-toggle-password-target-1 input-group-append input-group-text" href="javascript:;">
                            <i class="js-toggle-passowrd-show-icon-1 bi-eye"></i>
                        </a>
                    </div>

                    <span class="invalid-feedback">رمز عبور شما نامعتبر است. لطفا دوباره تلاش کنید.</span>
                </div>
                <!-- End Form -->

                <!-- Form -->
                <div class="mb-3">
                    <label class="form-label" for="signupSimpleSignupConfirmPassword">رمز عبور را تایید کنید</label>

                    <div class="input-group input-group-merge" data-hs-validation-validate-class>
                        <input type="password" class="js-toggle-password form-control form-control-lg text-center"
                               name="new_password2"
                               id="signupSimpleSignupConfirmPassword" placeholder="8+ characters required"
                               aria-label="8+ characters required" required
                               data-hs-validation-equal-field="#signupSimpleSignupPassword"
                               data-hs-toggle-password-options='{
                       "target": [".js-toggle-password-target-1", ".js-toggle-password-target-2"],
                       "defaultClass": "bi-eye-slash",
                       "showClass": "bi-eye",
                       "classChangeTarget": ".js-toggle-passowrd-show-icon-2"
                     }'>
                        <a class="js-toggle-password-target-2 input-group-append input-group-text" href="javascript:;">
                            <i class="js-toggle-passowrd-show-icon-2 bi-eye"></i>
                        </a>
                    </div>

                    <span class="invalid-feedback">رمز عبور با رمز عبور تأیید مطابقت ندارد.</span>
                </div>
                <!-- End Form -->


                <!-- End Check -->

                <div class="d-grid mb-3">
                    <button type="submit" class="btn btn-primary btn-lg">تغییر رمز عبور</button>
                </div>
            </form>
            <!-- End Form -->
        </div>
    </div>
    <!-- End Form -->
{% endblock %}