{% extends 'base.html' %}
{% block title %}
	عوض کردن پسورد
{% endblock %}

{% block content %}
	 <!-- Form -->
    <div class="container content-space-3 content-space-t-lg-4 content-space-b-lg-3">
      <div class="flex-grow-1 mx-auto" style="max-width: 28rem;">
        <!-- Heading -->
        <div class="text-center mb-5 mb-md-7">
          <h1 class="h2">رمز عبور را فراموش کرده اید؟</h1>
          <p>آدرس ایمیل خود را در زیر وارد کنید و ما شما را به مسیر درست برگردانیم.</p>
        </div>
        <!-- End Heading -->

        <!-- Form -->
        <form method="post" action="{% url 'accounts:password_reset' %}">
            {% csrf_token %}
          <!-- Form -->
          <div class="mb-3">
            <div class="d-flex justify-content-between align-items-center">
              <label class="form-label" for="signupSimpleResetPasswordEmail" tabindex="0">ایمیل شما</label>

              <a class="form-label-link" href="./page-login-simple.html">
                بازگشت به صفحه ورود
              </a>
            </div>

            <input type="email" class="form-control form-control-lg text-center" name="email"
              id="signupSimpleResetPasswordEmail" tabindex="1" placeholder="ایمیل خود را وارد نمایید"
              aria-label="Enter your email address" required>
            <span class="invalid-feedback">لطفا یک آدرس ایمیل معتبر وارد کنید.</span>
          </div>
          <!-- End Form -->

          <div class="d-grid mb-3">
            <button type="submit" class="btn btn-primary btn-lg">ارسال</button>
          </div>
        </form>
        <!-- End Form -->
      </div>
    </div>
    <!-- End Form -->
{% endblock %}