{% extends 'dashboard/admin/base.html' %}
{% load static %}

{% block breadcrumb %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb breadcrumb-light mb-0">
            <li class="breadcrumb-item">حساب</li>
            <li class="breadcrumb-item">داشبورد ادمین</li>
            <li class="breadcrumb-item active" aria-current="page">
                محصولات
            </li>
        </ol>
    </nav>
{% endblock %}

{% block content %}
    <!-- Card -->
    <div class="card">
        <!-- Header -->
        <div class="col-md-12">
            <div class="card-header border-bottom">
                <div class="d-flex justify-content-between align-items-center">
                    <h5 class="mb-0">لیست محصولات</h5>
                    <div class="d-flex">
                        <a class="btn btn-primary ms-3" href="{% url 'dashboard:admin:product-create' %}">ایجاد محصول</a>
                        <!-- دکمه برای باز کردن مدال -->
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                            اعمال تغییرات
                        </button>
                    </div>
                </div>
            </div>
            <!-- مدال اعمال تغییرات -->
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">اعمال تغییرات</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <!-- درون بلاک فرم -->
                            <form id="change_form" method="post" action="{% url "dashboard:admin:prodcut-change" %}">
                                {% csrf_token %}
                                <!-- اطلاعات فرم -->
                                <div class="mb-3">
                                    <label for="change_type" class="form-label">نوع تغییر</label>
                                    <select class="form-select" id="change_type" name="change_type">
                                        <option name="change_type" value="increase">افزایش قیمت</option>
                                        <option name="change_type" value="decrease">کاهش قیمت</option>
                                        <option name="change_type" value="published">نشر کردن</option>
                                        <option name="change_type" value="draft">ذخیره کردن</option>
                                        <option name="change_type" value="delete">حذف </option>

                                    </select>
                                </div>
                                <div class="mb-3">
                                    <label for="percent" class="form-label">مقدار</label>
                                    <input type="number" class="form-control" value="0" id="percent" placeholder="یک درصد وارد کنید مثلا 10%" name="percent">
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">بستن</button>
                            <button form="change_form" type="submit" class="btn btn-primary" id="applyChanges">اعمال</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- End Header -->

        <!-- Body -->
        <div class="card-body">

        
                

                <form action="." class="row">

                    <!-- Input Card -->
                    <div class="col-md-3 py-1">
                        <input type="text" class="form-control form-control-sm" placeholder="جستو جوی کالا" name="q"
                               id="search-query-filter">

                    </div>
                    <!-- End Input Card -->
                    <div class="col-md-3 py-1">
                        <select class="form-select form-select-sm" name="category_id" id="category-id-filter">
                            <option value="" selected>دسته بندی</option>
                            {% for category in categories %}
                                <option value="{{ category.id }}">{{ category.title }}</option>
                            {% empty %}
                                <div class="row text-center w-100 py-5">
                                    <p class="text-center">هیچ دسته بندی برای نمایش وجود ندارد</p>
                                </div>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-md-3 py-1">
                        <select class="form-select form-select-sm" id="order-by-filter">
                            <option value="" selected>مرتب سازی</option>
                            <option value="-created_date">جدیدترین</option>
                            <option value="created_date">قدیمی ترین</option>
                            <option value="-price">بیشترین قیمت</option>
                            <option value="price">کمترین قیمت</option>
                        </select>
                    </div>

                    <div class="col-md-2 py-1">
                        <select class="form-select form-select-sm" id="page-size-filter">
                            <option value="" selected>تعداد</option>
                            <option value="5">5</option>
                            <option value="10">10</option>
                            <option value="20">20</option>
                            <option value="30">30</option>
                            <option value="50">50</option>
                        </select>
                    </div>

                    <div class="col-md-1 py-1">
                        <button type="submit" class="btn btn-sm btn-icon btn-primary btn-search"><i
                                class="bi-search"></i></button>
                    </div>
                </form>

            </div>
            <div class="row">
                <!-- Table -->
                <div class="table-responsive">
                    <table class="table">
                        <thead class="thead-light">
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">نام محصول</th>
                                <th scope="col">دسته بندی</th>
                                <th scope="col">قیمت</th>
                                <th scope="col">تعداد</th>
                                <th scope="col">وضعیت</th>
                                <th scope="col">تخفیف</th>
                                <th scope="col">قیمت پایانی</th>
                                <th scope="col">عملیات</th>
                                <th scope="col">انتخاب
                                    <input type="checkbox" name="change_form" class="form-check-input productCheckbox" id="selectAllBtn">

                                </th>

                            </tr>
                        </thead>
                        <tbody>
                            {% for product in products %}
                            <tr>
                                <th scope="row">{{ product.id }}</th>
                                <td>{{ product.title }}</td>
                                <td>
                                    {% for category in product.category.all %}
                                    {{ category.title }}{% if not forloop.last %}, {% endif %}
                                    {% endfor %}
                                </td>
                                <td class="formatted-price">{{ product.price }}</td>
                                <td>{{ product.stock }}</td>
                                <td>
                                    {% if product.is_published %}
                                    <span class="badge bg-success">نشر شده</span>
                                    {% else %}
                                    <span class="badge bg-danger">ذخیره</span>
                                    {% endif %}
                                </td>
                                <td>%{{ product.discount_percent }}</td>
                                <td class="formatted-price">{{ product.get_price }}</td>
                                <td>
                                    <a class="btn btn-sm btn-icon btn-ghost-secondary" href="{% url 'dashboard:admin:product-update' pk=product.id %}">
                                        <i class="bi-pencil-square"></i>
                                    </a>
                                    {% if product.is_published %}
                                    <a class="btn btn-sm btn-icon btn-ghost-primary" target="_blank" href="{% url 'shop:product-detail' slug=product.slug %}">
                                        <i class="bi-eye"></i>
                                    </a>
                                    {% endif %}
                                </td>
                                <td>
                                    <input form="change_form" type="checkbox" class="form-check-input productCheckbox" name="selected_products" id="product{{ product.id }}" value="{{ product.id }}">
                                </td>
                            </tr>
                            {% empty %}
                            <div class="row text-center w-100 py-5">
                                <p class="text-center">هیچ کالایی برای نمایش وجود ندارد</p>
                            </div>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <!-- End Table -->
                <div class="row m-1 py-0">
                    <div class="d-flex justify-content-start">
                        <div>
                            {{ total_items }} محصول
                        </div>
                    </div>
                </div>
            </div>
    </div> 
  
       <!-- Pagination -->

                <div class="row pt-5 mt-3">
                    {% if page_obj.has_other_pages %}
                        <!-- Pagination -->
                        <nav aria-label="Page navigation">
                            <ul class="pagination justify-content-center">
                                {% if page_obj.has_previous %}
                                    <li class="page-item">
                                        <button class="page-link"
                                                onclick="changePage(`{{ page_obj.previous_page_number }}`)"
                                                aria-label="Previous">
                                <span aria-hidden="true">
                                    <i class="bi-chevron-double-right small"></i>
                                </span>
                                        </button>
                                    </li>
                                {% endif %}
                                {{ page_obj.page_range }}
                                {% for i in page_obj.paginator.page_range %}
                                    {% if page_obj.number == i %}
                                        <li class="page-item active"><a class="page-link">{{ i }}</a></li>
                                    {% elif i > page_obj.number|add:'-3' and i < page_obj.number|add:'3' %}
                                        <li class="page-item">
                                            <button class="page-link" onclick="changePage(`{{ i }}`)">{{ i }}</button>
                                        </li>

                                    {% endif %}

                                {% endfor %}


                                {% if page_obj.has_next %}
                                    <li class="page-item">
                                        <button class="page-link"
                                                onclick="changePage(`{{ page_obj.next_page_number }}`)"
                                                aria-label="Previous">
                                    <span aria-hidden="true">
                                        <i class="bi-chevron-double-left small"></i>
                                    </span>
                                        </button>
                                    </li>
                                {% endif %}

                            </ul>
                        </nav>
                    {% endif %}
                    <!-- End Pagination -->
                </div>
                <!-- End Pagination -->


            </div>
            <!-- End Row -->

        <!-- End Body -->
    </div>
    <!-- End Card -->
{% endblock %}


{% block extra_js %}
    <script>

        $(document).ready(function () {
            let current_url_params = new URLSearchParams(window.location.search)
            $("#page-size-filter").val(current_url_params.get("page_size") || "10")
            $("#order-by-filter").val(current_url_params.get("order_by") || "")
            $("#search-query-filter").val(current_url_params.get("q") || "")
            $("#min-price-filter").val(current_url_params.get("min_price") || "")
            $("#max-price-filter").val(current_url_params.get("max_price") || "")
            $("#category-id-filter").val(current_url_params.get("category_id") || "")

        });
        $('#page-size-filter').change(function () {
            let current_url_params = new URLSearchParams(window.location.search)
            var selectedOption = $(this).val();
            current_url_params.set("page_size", selectedOption)
            let new_url = window.location.pathname + "?" + current_url_params.toString()
            window.location.href = new_url
        });
        $('#order-by-filter').change(function () {
            let current_url_params = new URLSearchParams(window.location.search)
            var selectedOption = $(this).val();
            current_url_params.set("order_by", selectedOption)
            let new_url = window.location.pathname + "?" + current_url_params.toString()
            window.location.href = new_url
        });




          
// وقتی که دکمه انتخاب همه محصولات کلیک می‌شود
$("#selectAllBtn").click(function() {
    // اگر دکمه "انتخاب همه محصولات" فعال باشد
    if ($(this).hasClass("active")) {
        // غیرفعال کردن دکمه
        $(this).removeClass("active");
        // عدم انتخاب همه چک‌باکس‌ها
        $(".productCheckbox").prop('checked', false);
    } else {
        // فعال کردن دکمه
        $(this).addClass("active");
        // انتخاب همه چک‌باکس‌ها
        $(".productCheckbox").prop('checked', true);
    }
});

document.addEventListener('DOMContentLoaded', (event) => {
    const changeTypeSelect = document.getElementById('change_type');
    const percentDiv = document.getElementById('percent').parentNode;
  
    changeTypeSelect.addEventListener('change', (event) => {
      if(event.target.value === 'published' || event.target.value === 'draft' || event.target.value === 'delete')  {
        percentDiv.style.display = 'none';
      } else {
        percentDiv.style.display = 'block';
      }
    });
  });


    </script>

{% endblock %}