{% extends 'base.html' %}
{% load static %}

{% block title %}
    لیست محصولات
{% endblock %}
{% block content %}

    <!-- Breadcrumb -->
    <div>
        <div class="container content-space-t-2 content-space-t-lg-3">
            <div class="row">
                <div class="col-sm">
                    <h4 class="mb-0">شبکه محصولات</h4>
                </div>
                <!-- End Col -->

                <div class="col-sm-auto">
                    <!-- Breadcrumb -->
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb mb-0 ">
                            <li class="breadcrumb-item ps-2">
                                <a href="{% url 'website:home' %}">خانه</a>
                            </li>
                            <li class="breadcrumb-item">
                                <a href="{% url 'shop:product-grid' %}">فروشگاه</a>
                            </li>
                            <li class="breadcrumb-item active" aria-current="page">محصولات</li>
                        </ol>
                    </nav>
                    <!-- End Breadcrumb -->
                </div>
                <!-- End Col -->
            </div>
            <!-- End Row -->
        </div>
    </div>
    <!-- End Breadcrumb -->

    <!-- Card Grid -->
    <div class="container content-space-t-1 content-space-t-md-2 content-space-b-2 content-space-b-lg-3">
        <div class="row">
            <div class="col-lg-3">
                <!-- Navbar -->
                <div class="navbar-expand-lg mb-5">
                    <!-- Navbar Toggle -->
                    <div class="d-grid">
                        <button type="button" class="navbar-toggler btn btn-white mb-3" data-bs-toggle="collapse"
                                data-bs-target="#navbarVerticalNavMenu" aria-label="Toggle navigation"
                                aria-expanded="false" aria-controls="navbarVerticalNavMenu">
                <span class="d-flex justify-content-between align-items-center">
                  <span class="text-dark">فیلتر کنید</span>


                  <span class="navbar-toggler-default">
                    <i class="bi-list"></i>
                  </span>

                  <span class="navbar-toggler-toggled">
                    <i class="bi-x"></i>
                  </span>
                </span>
                        </button>
                    </div>
                    <!-- End Navbar Toggle -->

                    <!-- Navbar Collapse -->
                    <div id="navbarVerticalNavMenu" class="collapse navbar-collapse">
                        <div class="w-100">
                            <!-- Form -->
                            <form>
                                <div class="border-bottom pb-4 mb-4">
                                    <h5>جنسیت</h5>

                                    <div class="d-grid gap-2">
                                        <!-- Checkboxes -->
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="" id="menCheckbox"
                                                   checked>
                                            <label class="form-check-label d-flex" for="menCheckbox">مرد <span
                                                    class="ms-auto">(73)</span></label>
                                        </div>
                                        <!-- End Checkboxes -->

                                        <!-- Checkboxes -->
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="" id="womenCheckbox"
                                                   checked>
                                            <label class="form-check-label d-flex" for="womenCheckbox">زن <span
                                                    class="ms-auto">(51)</span></label>
                                        </div>
                                        <!-- End Checkboxes -->
                                    </div>
                                </div>

                                <div class="border-bottom pb-4 mb-4">
                                    <h5>نام تجاری</h5>

                                    <div class="d-grid gap-2">
                                        <!-- Checkboxes -->
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value=""
                                                   id="adidasCheckbox">
                                            <label class="form-check-label d-flex" for="adidasCheckbox">آدیداس <span
                                                    class="ms-auto">(16)</span></label>
                                        </div>
                                        <!-- End Checkboxes -->

                                        <!-- Checkboxes -->
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value=""
                                                   id="newBalanceCheckbox">
                                            <label class="form-check-label d-flex" for="newBalanceCheckbox">تعادل
                                                جدید<span class="ms-auto">(8)</span></label>
                                        </div>
                                        <!-- End Checkboxes -->

                                        <!-- Checkboxes -->
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="" id="nikeCheckbox">
                                            <label class="form-check-label d-flex" for="nikeCheckbox">نایک <span
                                                    class="ms-auto">(35)</span></label>
                                        </div>
                                        <!-- End Checkboxes -->

                                        <!-- Checkboxes -->
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value=""
                                                   id="fredPerryCheckbox">
                                            <label class="form-check-label d-flex" for="fredPerryCheckbox">فرد پری<span
                                                    class="ms-auto">(5)</span></label>
                                        </div>
                                        <!-- End Checkboxes -->

                                        <!-- Checkboxes -->
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="" id="tnfCheckbox">
                                            <label class="form-check-label d-flex" for="tnfCheckbox">جبهه شمالی <span
                                                    class="ms-auto">(1)</span></label>
                                        </div>
                                        <!-- End Checkboxes -->
                                    </div>

                                    <!-- View More - Collapse -->
                                    <div class="collapse" id="collapseBrand">
                                        <div class="d-grid gap-2">
                                            <!-- Checkboxes -->
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" value=""
                                                       id="gucciCheckbox">
                                                <label class="form-check-label d-flex" for="gucciCheckbox">گوچی <span
                                                        class="ms-auto">(5)</span></label>
                                            </div>
                                            <!-- End Checkboxes -->

                                            <!-- Checkboxes -->
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" value=""
                                                       id="mangoCheckbox">
                                                <label class="form-check-label d-flex" for="mangoCheckbox">انبه <span
                                                        class="ms-auto">(1)</span></label>
                                            </div>
                                            <!-- End Checkboxes -->
                                        </div>
                                    </div>
                                    <!-- End View More - Collapse -->

                                    <!-- Link -->
                                    <a class="link-sm link-collapse" href="#collapseBrand" role="button"
                                       data-bs-toggle="collapse" aria-expanded="false" aria-controls="collapseBrand">
                                        <span class="link-collapse-default">View more</span>
                                        <span class="link-collapse-active">View less</span>
                                    </a>
                                    <!-- End Link -->
                                </div>

                                <div class="border-bottom pb-4 mb-4">
                                    <h5>اندازه</h5>

                                    <div class="d-grid gap-2">
                                        <!-- Checkboxes -->
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="" id="sizeSCheckbox"
                                                   checked>
                                            <label class="form-check-label d-flex" for="sizeSCheckbox">S <span
                                                    class="ms-auto">(27)</span></label>
                                        </div>
                                        <!-- End Checkboxes -->

                                        <!-- Checkboxes -->
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="" id="sizeMCheckbox">
                                            <label class="form-check-label d-flex" for="sizeMCheckbox">M <span
                                                    class="ms-auto">(18)</span></label>
                                        </div>
                                        <!-- End Checkboxes -->

                                        <!-- Checkboxes -->
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="" id="sizeLCheckbox"
                                                   checked>
                                            <label class="form-check-label d-flex" for="sizeLCheckbox">L <span
                                                    class="ms-auto">(0)</span></label>
                                        </div>
                                        <!-- End Checkboxes -->

                                        <!-- Checkboxes -->
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value=""
                                                   id="sizeXLCheckbox">
                                            <label class="form-check-label d-flex" for="sizeXLCheckbox">XL <span
                                                    class="ms-auto">(1)</span></label>
                                        </div>
                                        <!-- End Checkboxes -->

                                        <!-- Checkboxes -->
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value=""
                                                   id="sizeXXLCheckbox">
                                            <label class="form-check-label d-flex" for="sizeXXLCheckbox">XXL <span
                                                    class="ms-auto">(2)</span></label>
                                        </div>
                                        <!-- End Checkboxes -->
                                    </div>
                                </div>

                                <div class="border-bottom pb-4 mb-4">
                                    <h5>دسته بندی</h5>

                                    <div class="d-grid gap-2">
                                        <!-- Checkboxes -->
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="" id="tshirtCheckbox"
                                                   checked>
                                            <label class="form-check-label d-flex" for="tshirtCheckbox">تی شرت<span
                                                    class="ms-auto">(73)</span></label>
                                        </div>
                                        <!-- End Checkboxes -->

                                        <!-- Checkboxes -->
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="" id="shoesCheckbox">
                                            <label class="form-check-label d-flex" for="shoesCheckbox">کفش <span
                                                    class="ms-auto">(0)</span></label>
                                        </div>
                                        <!-- End Checkboxes -->

                                        <!-- Checkboxes -->
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value=""
                                                   id="accessoriesCheckbox" checked>
                                            <label class="form-check-label d-flex" for="accessoriesCheckbox">تجهیزات
                                                جانبی <span class="ms-auto">(51)</span></label>
                                        </div>
                                        <!-- End Checkboxes -->

                                        <!-- Checkboxes -->
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="" id="topsCheckbox"
                                                   checked>
                                            <label class="form-check-label d-flex" for="topsCheckbox">تاپ ها <span
                                                    class="ms-auto">(5)</span></label>
                                        </div>
                                        <!-- End Checkboxes -->

                                        <!-- Checkboxes -->
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value=""
                                                   id="bottomCheckbox">
                                            <label class="form-check-label d-flex" for="bottomCheckbox">پایین <span
                                                    class="ms-auto">(11)</span></label>
                                        </div>
                                        <!-- End Checkboxes -->
                                    </div>

                                    <!-- View More - Collapse -->
                                    <div class="collapse" id="collapseCategory">
                                        <div class="d-grid gap-2">
                                            <!-- Checkboxes -->
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" value=""
                                                       id="shortsCheckbox">
                                                <label class="form-check-label d-flex" for="shortsCheckbox">شلوار کوتاه
                                                    <span class="ms-auto">(6)</span></label>
                                            </div>
                                            <!-- End Checkboxes -->

                                            <!-- Checkboxes -->
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" value=""
                                                       id="hatsCheckbox">
                                                <label class="form-check-label d-flex" for="hatsCheckbox">کلاه <span
                                                        class="ms-auto">(3)</span></label>
                                            </div>
                                            <!-- End Checkboxes -->

                                            <!-- Checkboxes -->
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" value=""
                                                       id="socksCheckbox">
                                                <label class="form-check-label d-flex" for="socksCheckbox">جوراب <span
                                                        class="ms-auto">(8)</span></label>
                                            </div>
                                            <!-- End Checkboxes -->
                                        </div>
                                    </div>
                                    <!-- End View More - Collapse -->

                                    <!-- Link -->
                                    <a class="link-sm link-collapse" href="#collapseCategory" role="button"
                                       data-bs-toggle="collapse" aria-expanded="false" aria-controls="collapseCategory">
                                        <span class="link-collapse-default">بیشتر ببینید</span>
                                        <span class="link-collapse-active">کمتر مشاهده کنید</span>
                                    </a>
                                    <!-- End Link -->
                                </div>

                                <div class="border-bottom pb-4 mb-4">
                                    <h5>رتبه بندی</h5>

                                    <div class="d-grid gap-2">
                                        <!-- Checkboxes -->
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="" id="1starCheckbox">
                                            <label class="form-check-label" for="1starCheckbox">
                          <span class="d-flex gap-1">
                            <img src="{% static 'svg/illustrations/star.svg' %}" alt="Review rating" width="16">
                            <img src="{% static 'svg/illustrations/star-muted.svg' %}" alt="Review rating" width="16">
                            <img src="{% static 'svg/illustrations/star-muted.svg' %}" alt="Review rating" width="16">
                            <img src="{% static 'svg/illustrations/star-muted.svg' %}" alt="Review rating" width="16">
                            <img src="{% static 'svg/illustrations/star-muted.svg' %}" alt="Review rating" width="16">
                            (3)
                          </span>
                                            </label>
                                        </div>
                                        <!-- End Checkboxes -->

                                        <!-- Checkboxes -->
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="" id="2starCheckbox">
                                            <label class="form-check-label" for="2starCheckbox">
                          <span class="d-flex gap-1">
                            <img src="{% static 'svg/illustrations/star.svg' %}" alt="Review rating" width="16">
                            <img src="{% static 'svg/illustrations/star.svg' %}" alt="Review rating" width="16">
                            <img src="{% static 'svg/illustrations/star-muted.svg' %}" alt="Review rating" width="16">
                            <img src="{% static 'svg/illustrations/star-muted.svg' %}" alt="Review rating" width="16">
                            <img src="{% static 'svg/illustrations/star-muted.svg' %}" alt="Review rating" width="16">
                            (10)
                          </span>
                                            </label>
                                        </div>
                                        <!-- End Checkboxes -->

                                        <!-- Checkboxes -->
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="" id="3starCheckbox">
                                            <label class="form-check-label" for="3starCheckbox">
                          <span class="d-flex gap-1">
                            <img src="{% static 'svg/illustrations/star.svg' %}" alt="Review rating" width="16">
                            <img src="{% static 'svg/illustrations/star.svg' %}" alt="Review rating" width="16">
                            <img src="{% static 'svg/illustrations/star.svg' %}" alt="Review rating" width="16">
                            <img src="{% static 'svg/illustrations/star-muted.svg' %}" alt="Review rating" width="16">
                            <img src="{% static 'svg/illustrations/star-muted.svg' %}" alt="Review rating" width="16">
                            (3)
                          </span>
                                            </label>
                                        </div>
                                        <!-- End Checkboxes -->

                                        <!-- Checkboxes -->
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="" id="4starCheckbox">
                                            <label class="form-check-label" for="4starCheckbox">
                          <span class="d-flex gap-1">
                            <img src="{% static 'svg/illustrations/star.svg' %}" alt="Review rating" width="16">
                            <img src="{% static 'svg/illustrations/star.svg' %}" alt="Review rating" width="16">
                            <img src="{% static 'svg/illustrations/star.svg' %}" alt="Review rating" width="16">
                            <img src="{% static 'svg/illustrations/star.svg' %}" alt="Review rating" width="16">
                            <img src="{% static 'svg/illustrations/star-muted.svg' %}" alt="Review rating" width="16">
                            (34)
                          </span>
                                            </label>
                                        </div>
                                        <!-- End Checkboxes -->

                                        <!-- Checkboxes -->
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="" id="5starCheckbox">
                                            <label class="form-check-label" for="5starCheckbox">
                          <span class="d-flex gap-1">
                            <img src="{% static 'svg/illustrations/star.svg' %}" alt="Review rating" width="16">
                            <img src="{% static 'svg/illustrations/star.svg' %}" alt="Review rating" width="16">
                            <img src="{% static 'svg/illustrations/star.svg' %}" alt="Review rating" width="16">
                            <img src="{% static 'svg/illustrations/star.svg' %}" alt="Review rating" width="16">
                            <img src="{% static 'svg/illustrations/star.svg' %}" alt="Review rating" width="16">
                            (120)
                          </span>
                                            </label>
                                        </div>
                                        <!-- End Checkboxes -->
                                    </div>
                                </div>

                                <div class="d-grid">
                                    <button type="button" class="btn btn-white btn-transition">همه را پاک کن</button>
                                </div>
                            </form>
                            <!-- End Form -->
                        </div>
                    </div>
                    <!-- End Navbar Collapse -->
                </div>
                <!-- End Navbar -->
            </div>
            <!-- End Col -->

            <div class="col-lg-9">
                <div class="row align-items-center mb-5">
                    <div class="col-sm mb-3 mb-sm-0">
                        <h6 class="mb-0">{{ products.count }} محصول</h6>
                    </div>

                    <div class="col-sm-auto">
                        <div class="d-sm-flex justify-content-sm-end align-items-center">
                            <!-- Select -->
                            <div class="mb-2 mb-sm-0 me-sm-2">
                                <select class="form-select form-select-sm">
                                    <option value="Relevance" selected>ارتباط</option>
                                    <option value="mostRecent">اخیرا</option>
                                </select>
                            </div>
                            <!-- End Select -->

                            <!-- Select -->
                            <div class="mb-2 mb-sm-0 me-sm-2">
                                <select class="form-select form-select-sm">
                                    <option value="alphabeticalOrderSelect1" selected>A-to-Z</option>
                                    <option value="alphabeticalOrderSelect2">Z-to-A</option>
                                </select>
                            </div>
                            <!-- End Select -->

                            <!-- Nav -->
                            <ul class="nav nav-segment">
                                <li class="nav-item">
                                    <a class="nav-link active" href="/products-grid.html">
                                        <i class="bi-grid-fill"></i>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/products-list.html">
                                        <i class="bi-list"></i>
                                    </a>
                                </li>
                            </ul>
                            <!-- End Nav -->
                        </div>
                    </div>
                </div>
                <!-- End Row -->

                <div class="row row-cols-sm-2 row-cols-md-3 mb-10">


                    {% for product in products %}
                        <div class="col mb-4">
                            <!-- Card -->
                            <div class="card card-bordered shadow-none text-center h-100">
                                <div class="card-pinned">
                                    <img class="card-img-top" src="{{ product.image.url }}" alt="Image Description">

                                    <div class="card-pinned-top-end">
                                        <button type="button"
                                                class="btn btn-outline-secondary btn-xs btn-icon rounded-circle"
                                                data-bs-toggle="tooltip" data-bs-placement="top"
                                                title="افزودن به علایق">
                                            <i class="bi-heart"></i>
                                        </button>
                                    </div>
                                </div>

                                <div class="card-body">
                                    <div class="mb-2">
                                        {% for category in product.category.all %}
                                            <a class="link-sm link-secondary" href="#">{{ category.title }} </a>
                                            {% if not forloop.last %}
                                                ,
                                            {% endif %}
                                        {% endfor %}
                                    </div>

                                    <h4 class="card-title">
                                        <a class="text-dark" href="{% url 'shop:product-detail' slug=product.slug %}">{{ product.title }}</a>
                                    </h4>
                                    {% if product.discount_percent <= 1 %}
                                        <p class="card-text text-dark">
                                            تومان{{ product.get_price }}</p>
                                    {% else %}
                                        <del class="card-text text-dark">
                                            تومان{{ product.get_price }}</del>
                                        <p class="card-text text-dark">
                                            تومان{{ product.get_show_price }}</p>

                                    {% endif %}
                                </div>

                                <div class="card-footer pt-0">
                                    <!-- Rating -->
                                    <a class="d-inline-flex align-items-center mb-3" href="#">
                                        <div class="d-flex gap-1 ms-2">
                                            <img src="{% static 'svg/illustrations/star.svg' %}" alt="Review rating"
                                                 width="16">
                                            <img src="{% static 'svg/illustrations/star.svg' %}" alt="Review rating"
                                                 width="16">
                                            <img src="{% static 'svg/illustrations/star.svg' %}" alt="Review rating"
                                                 width="16">
                                            <img src="{% static 'svg/illustrations/star.svg' %}" alt="Review rating"
                                                 width="16">
                                            <img src="{% static 'svg/illustrations/star-muted.svg' %}"
                                                 alt="Review rating" width="16">
                                        </div>
                                        <span class="small">40</span>
                                    </a>
                                    <!-- End Rating -->

                                    <button type="button"
                                            class="btn btn-outline-primary btn-sm btn-transition rounded-pill">افزودن به
                                        سبد خرید
                                    </button>
                                </div>
                            </div>
                            <!-- End Card -->
                        </div>
                    {% endfor %}


                </div>
                <!-- End Row -->

                {% if page_obj.has_other_pages %}
                    <!-- Pagination -->
                    <nav aria-label="Page navigation">
                        <ul class="pagination justify-content-center">
                            {% if page_obj.has_previous %}
                                <li class="page-item ">
                                    <a class="page-link" href="?page={{ page_obj.previous_page_number }}"
                                       aria-label="Previous">

                                  <span aria-hidden="true">
                                    <i class="bi-chevron-double-right small"></i>
                                  </span>
                                    </a>
                                </li>
                            {% endif %}

                            {% for i in page_obj.paginator.page_range %}
                                {% if page_obj.number == i %}
                                    <li class="page-item active"><a class="page-link"
                                                                    href="?page={{ i }}">{{ i }}</a></li>
                                {% elif i >= page_obj.number|add:'-3' and  i <= page_obj.number|add:'3' %}

                                    <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                                {% endif %}

                            {% endfor %}


                            <li class="page-item">
                                {% if page_obj.has_next %}
                                    <li class="page-item ">
                                        <a class="page-link" href="?page={{ page_obj.next_page_number }}"
                                           aria-label="Next">
                                  <span aria-hidden="true">
                                    <i class="bi-chevron-double-left small"></i>
                                  </span>
                                        </a>
                                    </li>
                                {% endif %}
                        </ul>
                    </nav>
                    <!-- End Pagination -->

                {% endif %}
            </div>
            <!-- End Col -->
        </div>
        <!-- End Row -->
    </div>
    <!-- End Card Grid -->

    <!-- Subscribe -->
    <div class="bg-light">
        <div class="container content-space-2">
            <div class="w-md-75 w-lg-50 text-center mx-md-auto">
                <div class="row justify-content-lg-between">
                    <!-- Heading -->
                    <div class="mb-5">
                        <span class="text-cap">ثبت نام</span>
                        <h2>اخبار جدید را دریافت کنید</h2>
                    </div>
                    <!-- End Heading -->

                    <form>
                        <!-- Input Card -->
                        <div class="input-card input-card-pill input-card-sm border mb-3">
                            <div class="input-card-form">
                                <label for="subscribeForm" class="form-label visually-hidden">ایمیل را وارد کنید</label>
                                <input type="text" class="form-control form-control-lg" id="subscribeForm"
                                       placeholder="ایمیل خود را وارد کنید" aria-label="ایمیل خود را وارد کنید">
                            </div>
                            <button type="button" class="btn btn-primary btn-lg rounded-pill">ثبت نام</button>
                        </div>
                        <!-- End Input Card -->
                    </form>

                    <p class="small">می توانید در هر زمانی اشتراک خود را لغو کنید <a href="#">سیاست حفظ حریم خصوصی</a>
                        ما را بخوانید</p>
                </div>
            </div>
        </div>
    </div>
    <!-- End Subscribe -->

    <!-- Clients -->
    <div class="container content-space-2">
        <div class="row">
            <div class="col text-center py-3">
                <img class="avatar avatar-lg avatar-4x3" src="{% static 'svg/brands/hollister-dark.svg' %}" alt="Logo">
            </div>
            <!-- End Col -->

            <div class="col text-center py-3">
                <img class="avatar avatar-lg avatar-4x3" src="{% static 'svg/brands/levis-dark.svg' %}" alt="Logo">
            </div>
            <!-- End Col -->

            <div class="col text-center py-3">
                <img class="avatar avatar-lg avatar-4x3" src="{% static 'svg/brands/new-balance-dark.svg' %}"
                     alt="Logo">
            </div>
            <!-- End Col -->

            <div class="col text-center py-3">
                <img class="avatar avatar-lg avatar-4x3" src="{% static 'svg/brands/puma-dark.svg' %}" alt="Logo">
            </div>
            <!-- End Col -->

            <div class="col text-center py-3">
                <img class="avatar avatar-lg avatar-4x3" src="{% static 'svg/brands/nike-dark.svg' %}" alt="Logo">
            </div>
            <!-- End Col -->

            <div class="col text-center py-3">
                <img class="avatar avatar-lg avatar-4x3" src="{% static 'svg/brands/tnf-dark.svg' %}" alt="Logo">
            </div>
            <!-- End Col -->
        </div>
        <!-- End Row -->
    </div>
    <!-- End Clients -->
{% endblock %}