{% load i18n %}{% autoescape off %}
    {% blocktranslate %}شما این ایمیل را دریافت می‌کنید زیرا درخواست بازنشانی رمز عبور برای حساب کاربری خود در این آدرس
        را داده‌اید {{ site_name }}.{% endblocktranslate %}

    {% translate "لطفا به صفحه زیر بروید و رمز عبور جدید را انتخاب کنید:" %}
    {% block reset_link %}
        {{ protocol }}://{{ domain }}{% url 'accounts:password_reset_confirm' uidb64=uid token=token %}
    {% endblock %}
    {% translate 'نام کاربری شما، در صورتی که فراموش کرده باشید:' %} {{ user.get_full_name }}

    {% translate "با تشکر از استفاده از سایت ما!" %}

    {% blocktranslate %}The {{ site_name }} team{% endblocktranslate %}

{% endautoescape %}