<!-- Pages -->
<li class="hs-has-mega-menu nav-item" data-hs-mega-menu-item-options='{
  "desktop": {
    "position": "right",
    "maxWidth": "27rem"
  }
}'>
<a id="pagesMegaMenu" class="hs-mega-menu-invoker nav-link dropdown-toggle " aria-current="page" href="#"
role="button" data-bs-toggle="dropdown" aria-expanded="false">صفحات</a>

<!-- Mega Menu -->
<div class="hs-mega-menu dropdown-menu" aria-labelledby="pagesMegaMenu" style="min-width: 27rem;">
<div class="navbar-dropdown-menu-inner">
  <span class="dropdown-header">عناصر</span>

  <div class="row">
    <div class="col-sm mb-3 mb-sm-0">
      <a class="dropdown-item " href="/categories.html">دسته بندی ها</a>
    </div>
    <!-- End Col -->

    <div class="col-sm">
      <a class="dropdown-item " href="/cart.html">سبد خرید</a>
      <a class="dropdown-item " href="/order-completed.html">سفارش ها</a>
    </div>
    <!-- End Col -->
  </div>
  <!-- End Row -->
</div>

<!-- Mega Menu Banner -->
<div class="navbar-dropdown-menu-shop-banner">
  <div class="d-flex">
    <div class="flex-shrink-0">
      <img class="navbar-dropdown-menu-shop-banner-img" src="/assets/img/mockups/img4.png"
        alt="Image Description">
    </div>

    <div class="flex-grow-1 p-4">
      <span class="h4 d-block text-primary">برنده تی شرت</span>
      <p>یکی از تی شرت های برند Front ما را برنده شوید.</p>
      <a class="btn btn-sm btn-soft-primary btn-transition" href="/index.html">بیشتر بدانید <i
          class="bi-chevron-left small"></i></a>
    </div>
  </div>
</div>
<!-- End Mega Menu Banner -->
</div>
<!-- End Mega Menu -->
</li>
<!-- End Pages -->